
    {% extends 'base.html.twig' %}
    {% block title %}Ajouter un produit{% endblock %}
    {% block body %}
        <h1>Ajouter un nouveau produit</h1>
        {{ form_start(formProd) }}
        <div>
            {{ form_label(formProd.name) }}
            {{ form_widget(formProd.name, { 'attr':{'class':'className test'} }) }}
            {{ form_errors(formProd.name) }}
        </div>
        {{ form_end(formProd) }}
    {% endblock %}
