<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produit</title>
</head>
<body>
<main>
    <h1>Mon Produit {{ prod.name }}</h1>
    <img src="{{ asset('uploadDirectory/' ~ prod.img) }}"alt="">
    <p>{{ prod.description }}</p>
    <span>Le prix est de :{{ prod.price }}€</span>
    <span>Il nous en reste{{ prod.stock }}</span>
    <a href="{{ path("changeActivProd", {"id":prod.id}) }}">
        {% if(prod.active == true) %}
            Desactiver
        {% else %}
            Activer
        {% endif %}
    </a>
    {% if(prod.active == false) %}
    <a href="{{ path("deleteUnactivedProd", {"id":prod.id}) }}">Supprimer</a>
    {% endif %}
</main>
</body>
</html>